[phases.setup]
nixPkgs = [
    "python312",
    "openjdk17",
    "postgresql_16",
    "gcc",
    "pango",
    "cairo",
    "gdk-pixbuf",
    "libxml2",
    "gobject-introspection",
    "glib",
    "fontconfig",
    "harfbuzz"
]