# --- Core Django ---
Django>=4.0.2
django-environ
django-widget-tweaks
django-user-agents
django-cleanup
django-crum
gunicorn

# --- Base de Datos ---
psycopg2-binary
dj-database-url

# --- Reportes y Código de Barras ---
weasyprint
Pillow
python-barcode

# --- Seguridad ---
cryptography
pyOpenSSL

# --- Utilidades ---
python-dateutil
requests

# (Mantén todo lo anterior y añade esto)
XlsxWriter