# Core Django y Entorno
Django==4.0.2
django-environ
gunicorn

# Base de Datos (PostgreSQL/Supabase)
psycopg2-binary
dj-database-url

# Extensiones de Django presentes en tu Settings
django-widget-tweaks
django-user-agents
django-cleanup
django-crum

# Generación de Archivos y Reportes (Solución a los últimos errores)
XlsxWriter
weasyprint
Pillow
python-barcode

# Seguridad y Criptografía
cryptography
pyOpenSSL

# Utilidades de Red y Fechas
requests
python-dateutil